*{ margin:0;
  padding:0;
  box-sizing:border-box;  

}

.navbar ul{
  font-size:24px;
  font-family:GoogleSans Regular;
}

.navbar button{
  height:40px;
}
 #button {
    background-color:#ef4d25!important;
    border: 2px solid #ef4d25;
    color: #fff;
    width: 134px;
    height: 37px;
}